<table class="table container-fluid">
    <thead>
        <tr>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td><img width="150" height="75"  src="{{MEDIA_URL}}{{item.image}}"/></td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>€{{ item.price }}</td>
            <td>€{{ item.total }}</td>
            <td><form method="post" action="{% url 'remove_from_cart' item.product_id %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger btn-sm" value="Remove"/>
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
            <td><strong>Total:</strong></td>
            <td>€{{ total }}</td>
            <td class="hidden-xs"></td>
        </tr>
        
        <tr>
            <td><a href="{% url 'checkout' %}" class="btn btn-success btn-sm" role="button">Checkout</a></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
            <td class="hidden-xs"></td>
        </tr>
    </tbody>
    
</table>