{% extends 'home/base.html' %}
{% block content %}


    <h2>Success!</h2>
    <p>Hi {{ user }}, you have successfully logged in with the following email: {{ user.email }} </p>
    
    {% if my_posts|length == 0%}
        <p>You have not made any blog posts, click <a href="{% url 'create_post' %}"><strong>here</strong></a> to get involved</p>
    {% else %}
        <p>Here are your historical blog posts:</p>
    {% endif %}
    <div class="specific_photo text-center col-md-8">
        {% for post in my_posts %}
            <a href="{% url 'post_detail' post.id %}"><div class="photo_gallery" style="background-image: url('{{MEDIA_URL}}{{post.image}}')"></div></a>
        {% endfor %}
    </div>
    
    
{% endblock content %}