{% extends "home/base.html" %}
{% block content %}
    <div class="col-md-4 specific_photo text-center post_search">
    
        <h2>Blog</h2>
        <form action={% url 'search_posts' %}>
            <input class="form-control" type="text" placeholder="Search" name="query" />
            <input type="radio" name="match" value="contains" checked> Contains<br>
            <input type="radio" name="match" value="begins"> Begins With<br>
            <input class="btn btn-default" type="submit" value="search" />
        </form>
        <br>
        <div>
            {% if user.is_authenticated %}
                <p><button class="btn btn-primary btn-sm" onclick="location.href='{% url 'create_post' %}'"><i class="glyphicon glyphicon-plus"></i> New Post</button></p>
            {% endif %}
        </div>
    </div>
    
    
    <div class="col-md-8 specific_photo text-center">
        {% for post in posts %}
            <div class="photo_gallery" style="background-image: url('{{MEDIA_URL}}{{post.image}}')">      
                <h4>{{ post.title }}</h4>
                <p><button class="btn btn-success btn-sm" onclick="location.href='{% url 'post_detail' post.id %}'">Read More</button></p>
            </div>
        {% endfor %}
    </div>
                    
            
    
{% endblock %}