{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}


    <div class="col-sm-4 specific_photo text-center">
        <h2>{{ post.title }}</h2>
        <p>{{ post.content|linebreaksbr}}</p>
        <p><strong>Views:</strong> {{ post.views }}</p>
        <p><strong>Likes:</strong> {{ post.likes }}</p>
        <form method="post" action="{% url 'like_post' post.id %}">
        {% csrf_token %}
        <p><a href='{% url 'like_post' post.id %}'><i class="fa fa-thumbs-up fa-2x"></i></a></p>
        </form>
        </br>
        
        
        
         <div class="row">
             <div class="col-sm-offset-4 col-sm-4">
                {% if post.author == request.user or request.user.is_superuser == True %}
                    <p><a href="{% url 'edit_post' post.id %}" class="btn btn-warning btn-sm" role="button"><i class="glyphicon glyphicon-edit"></i> Edit</a></p>
                    <p><a href="{% url 'delete_post' post.id %}" class="btn btn-danger btn-sm" role="button"><i class="glyphicon glyphicon-remove"></i> Delete</a></p>
                {% elif user.is_authenticated %}
                {% else %}
                    <p>To purchase a photo log in <a href="{% url 'login' %}"><strong>here</strong></a> or first time users can register 
                    <a href="{% url 'register' %}"><strong>here</strong></a></p>
                {% endif %}
                    <a href="{% url 'post_list' %}" class="btn btn-success btn-sm" role="button"><i class="glyphicon glyphicon-arrow-left"></i> Return</a>
             </div>
        </div>
      
       
    </div>
    

    <div class="col-sm-8 specific_photo">
        {% if post.image %}
            <img width="900" height="400" class="card-img-top img-fluid full_picture" src="{{MEDIA_URL}}{{post.image}}" alt="">
        {% endif %}
    </div>







{% endblock %}




