{% extends "home/base.html" %}
{% load bootstrap_tags %}
{% block content %}
    
{% for photo in photos %}
    <div class="col-md-4 container-fluid">
        <div class="photo_gallery" style="background-image: url('{{MEDIA_URL}}{{photo.image}}')">
            <div class="photo_list_content">
                <div class="col-xs-4">
                </div>
                <a href="{% url 'photo_detail' photo.id %}"><div class="rectangle col-xs-4">
                    <h4>{{photo.name}}</h4>
                    <br>
                    <h4>€{{photo.price}}</h4>
                </div></a>
                <div class="col-xs-4">
                </div>
            </div>
        </div>    
          
       
    </div>
    {% if forloop.counter|divisibleby:3 %}
        </div><div class="row">
    {% endif %}
{% endfor %}
   
{% endblock %}

