{% extends "home/base.html" %}
{% load bootstrap_tags %}
{% block content %}

<div class="col-sm-4 specific_photo text-center">
  
  <h2 class="card-title">{{photos.name}}</h2>
  <p class="card-text">{{photos.description}}</p>
  <p>€{{photos.price}}</p>
  
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      {% if user.is_authenticated %}
        <p><a href="#" class="btn btn-primary  btn-sm" role="button" data-toggle="modal" data-target="#toBuy{{ photos.id }}"><i class="glyphicon glyphicon-plus"></i>  Add To Cart</a></p>
         
      {% else %}
        <p>To purchase a photo log in <a href="{% url 'login' %}"><strong>here</strong></a> or first time users can register 
        <a href="{% url 'register' %}"><strong>here</strong></a></p>
      {% endif %}
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
    <a href="{% url 'photo_list' %}" class="btn btn-success  btn-sm" role="button"><i class="glyphicon glyphicon-arrow-left"></i>  Return</a>
    </div>
  </div>
  
  {% if user.is_authenticated %}
    {% include "ratings/_add_review_form.html" %}
  {% endif %}
  
  {% include "ratings/_show_review.html" %}
  
</div>

<div class="col-sm-8 specific_photo">
    <img width="900" height="400" class="card-img-top img-fluid full_picture" src="{{MEDIA_URL}}{{photos.image}}" alt="">
</div>
<div class="ratings text-center">
            {% if photos.reviews_received.all|length > 0 %}
                <p>
                    {% for star in photos.stars %}
                        <i class="fa fa-star fa-2x" style="color:gold"></i>
                    {% endfor %}
                    {% if photos.needs_half_star %}
                        <i class="fa fa-star-half fa-2x" style="color:gold"></i>
                    {% endif %} 
                </p>
                <p>{{photos.reviews_received.all|length}} reviews</p>
            {% else %}
                <p>Not rated yet.</p>
            {% endif %}
        </div>

   
  <div id="toBuy{{ photos.id }}" class="modal fade" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header text-center">
                <h2 class="modal-title">{{ photos.name }}</h2>
              </div>
              <div class="modal-body text-center">
                <p>{{ photos.description }}</p>
                <p>Price: €{{ photos.price }}</p>
                
                
                <form action="{% url 'add_to_cart' %}" method="post">
                  {% csrf_token %}
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      Matt
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                      Gloss
                    </label>
                  </div>
                  <input type="hidden" name="id" value="{{photos.id}}"/>
                  
                  <div>Quantity: <input type="number" name="quantity" value="1" min="1" max="10"/></div>
                  <br>
                  <div><input class="btn btn-primary btn-sm" type="submit" value="Confirm"/></div>
                </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
 

{% endblock content %}
