/*--------------------NAVBAR--------------------*/

.navbar-fixed-top {
    background-color: green;
}
.navbar-default {
    background-color: black;
}
.nav > * > a {
    color: white;
    font-family: 'Eagle Lake', cursive;
}
.navbar-default .navbar-collapse {
    border-color: green;
}
.navbar-default .navbar-toggle {
    border-color: green;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    color: black;
}
.navbar-brand:hover, .navbar-brand:focus {
    color: black;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: black;
    color: green;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: green;
    color: black;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: green;
}
.header-mobile > .navbar-brand {
    color: white;
}
.header-mobile > .navbar-brand:hover, .header-mobile > .navbar-brand:focus {
    color: green;
}


body {
    padding-top: 120px;
    padding-bottom: 60px
}



/*--------------------Photo List--------------------*/
.photo_gallery {
    /*border: 3px solid green;*/
    height: 300px;
    background-size: cover;
    /*width: 100%;*/
}


/*--------------------Specific Photo--------------------*/

.specific_photo {
    padding: 10px;
}
.specific_photo > img {
    width: 100%;
}
